<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150143492815-6g0d1h7sladene3f2q62bsomn5vdh5el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150143492815-6g0d1h7sladene3f2q62bsomn5vdh5el</string>
	<key>API_KEY</key>
	<string>AIzaSyCnCBF814Hn8L295XIDK0A2mU4N_zfVL_s</string>
	<key>GCM_SENDER_ID</key>
	<string>150143492815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riive.staging</string>
	<key>PROJECT_ID</key>
	<string>riive-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>riive-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150143492815:ios:1cab028414084ae7b94dba</string>
</dict>
</plist>